<footer class='bg-accent-500 w-full text-white'>
  <section class='px-8 sm:px-16 lg:px-32 py-4 sm:py-8 border-b border-white'>
    <h2 class='font-dela text-lg sm:text-2xl uppercase text-left'>
      Гарантийные обязательства
    </h2>
    <p class='mx-auto mt-3 text-sm font-bold sm:text-justify'>
      На компьютерную технику, купленную в ООО «ЭСКЕЙП», гарантийные
      обязательства распространяются только на аппаратную часть. На программное
      обеспечение, предустановленное на компьютерах, гарантия не
      распространяется! Претензии по качеству приобретенного товара принимаются
      с 10 до 18 часов в любой день кроме субботы и воскресенья в центральном
      офисе по адресу: г. Новотроицк, ул. Советская 36. В соответствии с
      требованиями, предъявляемыми фирмами производителями, изделия,
      предъявляемые на гарантийное обслуживание должны иметь товарный вид, не
      иметь механических повреждений, заводские и другие наклейки (стикеры) не
      должны иметь повреждений или следов переклеивания.
      <span class='transition-all underline hover:text-carrot'
        >Политика возврата.</span
      >
    </p>
  </section>
  <section
    class='gradient-grid px-6 sm:px-16 lg:px-32 py-4 sm:py-8 text-sm sm:text-md lg:text-md xl:text-lg
    flex flex-col md:flex-row gap-4 md:gap-0 md:justify-between'
  >
    <div>
      <p>1999 - {new Date().getFullYear()}. Все права защищены</p>
      <p>© Компьютерный центр «ЭСКЕЙП»</p>
    </div>
    <div>
      <p>
        <a
          href='mailto:info@esc56.ru?subject=Вопрос с сайта ООО «Эскейп» - ESC56.RU'
          class='transition-all hover:text-carrot'
          >Обратная связь
        </a>
      </p>
      <p>
        <a
          href='https://esc56.ru/sitemap.xml'
          class='transition-all hover:text-carrot'>XML - карта сайта</a
        >
      </p>
    </div>
    <div>
      <p>Разработка и дизайн сайта</p>
      <p>
        <a
          href='https://esc56.ru/sitemap.xml'
          class='transition-all hover:text-carrot'
        >
          СКП «ИТ-эксперт»
        </a>
      </p>
    </div>
  </section>
</footer>
