<footer class='bg-accent-500 w-full text-white'>
  <section class='border-b border-white px-8 py-4 sm:px-16 sm:py-8 lg:px-32'>
    <h2 class='text-left font-dela text-lg uppercase sm:text-2xl'>
      Гарантийные обязательства
    </h2>
    <p class='mx-auto mt-3 text-sm font-bold sm:text-justify'>
      На компьютерную технику, купленную в ООО «ЭСКЕЙП», гарантийные
      обязательства распространяются только на аппаратную часть. На программное
      обеспечение, предустановленное на компьютерах, гарантия не
      распространяется! Претензии по качеству приобретенного товара принимаются
      с 10 до 18 часов в любой день кроме субботы и воскресенья в центральном
      офисе по адресу: г. Новотроицк, ул. Советская 36. В соответствии с
      требованиями, предъявляемыми фирмами производителями, изделия,
      предъявляемые на гарантийное обслуживание должны иметь товарный вид, не
      иметь механических повреждений, заводские и другие наклейки (стикеры) не
      должны иметь повреждений или следов переклеивания.
      <span class='underline transition-all hover:text-carrot'
        >Политика возврата.</span
      >
    </p>
  </section>
  <section
    class='gradient-grid sm:text-md lg:text-md flex flex-col gap-4 px-6 py-4 text-sm sm:px-16
    sm:py-8 md:flex-row md:justify-between md:gap-0 lg:px-32 xl:text-lg'
  >
    <div>
      <p>1999 - {new Date().getFullYear()}. Все права защищены</p>
      <p>© Компьютерный центр «ЭСКЕЙП»</p>
    </div>
    <div>
      <p>
        <a
          href='mailto:info@esc56.ru?subject=Вопрос с сайта ООО «Эскейп» - ESC56.RU'
          class='transition-all hover:text-carrot'
          >Обратная связь
        </a>
      </p>
      <p>
        <a
          href='https://esc56.ru/sitemap.xml'
          class='transition-all hover:text-carrot'>XML - карта сайта</a
        >
      </p>
    </div>
    <div>
      <p>Разработка и дизайн сайта</p>
      <p>
        <a
          href='https://esc56.ru/sitemap.xml'
          class='transition-all hover:text-carrot'
        >
          СКП «ИТ-эксперт»
        </a>
      </p>
    </div>
  </section>
</footer>
