<section class='border-y border-white'>
  <div class='mx-auto text-white'>
    <div class='relative mx-auto overflow-hidden overflow-x-hidden py-2'>
      <div class='grid w-full justify-between'>
        <div
          class='absolute inset-0 left-0 z-10 w-44 bg-gradient-to-r from-black via-transparent'
        >
        </div>
        <div
          class='absolute inset-0 left-0 z-10 ml-auto w-44 bg-gradient-to-l from-black via-transparent'
        >
        </div>
      </div>
      <div
        class='relative flex animate-marquee items-center gap-4 whitespace-nowrap font-display font-black uppercase tracking-widest'
      >
        spots open <span class='hidden lg:inline'>✺</span>spots open <span
          class='hidden lg:inline'>✺</span
        > spots open <span class='hidden lg:inline'>✺</span> spots open <span
          class='hidden lg:inline'>✺</span
        >spots open <span class='hidden lg:inline'>✺</span> spots open <span
          class='hidden lg:inline'>✺</span
        > spots open <span class='hidden lg:inline'>✺</span>spots open <span
          class='hidden lg:inline'>✺</span
        > spots open <span class='hidden lg:inline'>✺</span> spots open
      </div>
    </div>
  </div>
</section>
