<section class='border-b border-white'>
  <div class='mx-auto max-w-7xl border-x border-white'>
    <div class='group bg-transparent duration-200 hover:bg-carrot'>
      <a
        href='mailto:michael@andreuzza.com'
        class='focus:outline-disc hoder:rounded-0 inline-flex w-full items-center justify-center rounded-full bg-carrot px-4 py-6 text-center font-display text-3xl font-medium text-white duration-200 focus:ring-0 lg:py-12 lg:text-6xl'
        >Get a quote</a
      >
    </div>
  </div>
</section>
