---
import Banner from '@/components/landing/Banner.astro';
import Testimonials from '@/components/landing/Testimonials.astro';
---

<section class='border-b border-white'>
  <div class='mx-auto max-w-7xl border-x border-white'>
    <div class='mx-auto'>
      <div class='gradient-grid mx-auto px-8 py-12 lg:pt-28'>
        <h1 class='font-display text-3xl uppercase text-white lg:text-7xl'>
          Maximize your online presence with a unique and engaging one-page
          website that delivers outstanding results.
        </h1>
      </div>
      <Banner />
      <Testimonials />
    </div>
  </div>
</section>
