<section>
  <div class='mx-auto max-w-6xl items-center px-8 py-32 md:px-12 2xl:max-w-7xl'>
    <div class='mx-auto max-w-xl text-center'>
      <p class='font-display text-4xl font-semibold tracking-tight text-black'>
        About
      </p>
      <p class='mt-4 text-lg tracking-tight text-gray-600'>
        A full width entry to use as a header
      </p>
    </div>

    <div
      class='prose-blockquote:border-l-salmon-500 prose-li:marker:text-salmon-500 prose prose-slate mx-auto max-w-3xl py-24 font-serif first-letter:float-left first-letter:mr-3 first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 first-line:uppercase first-line:tracking-widest prose-headings:font-sans prose-headings:text-black'
    >
      <p>
        Computers used to be magical. But much of that magic has been lost over
        time, replaced by subpar tools and practices that slow teams down and
        hold great work back. Frustrated with building and managing software
        projects in high-growth companies ourselves, we founded a company to
        build something better. We named it Linear to signify progress.
        Productivity software should be opinionated. It's the only way the
        product can truly do the heavy lifting for you. Flexible software lets
        everyone invent their own workflows, which eventually creates chaos as
        teams scale.
      </p>
    </div>
  </div>
</section>
