<section>
  <div class='mx-auto px-8 py-36 md:px-12 2xl:max-w-7xl'>
    <div class='relative w-full lg:pt-36'>
      <div class='absolute inset-0 w-full'>
        <img
          class='aspect-video h-full w-full object-cover'
          src='/artOne.jpg'
          alt=''
        />
      </div>
      <div
        class='relative mx-auto max-w-6xl p-4 md:p-10 lg:mt-24 2xl:max-w-7xl'
      >
        <div class='bg-wood-100 max-w-xl p-4 sm:p-8 lg:-mb-[4.5rem] lg:p-10'>
          <div class='w-full'>
            <h1
              class='font-display text-4xl font-bold tracking-tight text-black lg:text-5xl'
            >
              404 We lost that page fam...
            </h1>
            <p class='mt-4 text-lg tracking-tight text-black'>
              Sorry the page you are looking for doesn't exist or has moved. Go
              to our sitemap
            </p>
          </div>
          <div class='mt-6 flex gap-3'>
            <a
              class='hover:bg-mist-900 focus-visible:outline-mist-600 active:bg-mist-700 disabled:hover:bg-mist-600 inline-flex justify-center bg-black px-4 py-1 text-base font-medium tracking-wide text-white focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 active:text-white/80 disabled:opacity-30'
              href='/overview'
            >
              <span>Explore sitemap</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
