---
import BaseHead from '@/components/base-head.astro';
import { Footer } from '@/shared/ui';
---

<html lang='ru' class='selection:bg-carrot selection:text-white'>
  <head>
    <BaseHead />
  </head>
  <body class='mx-auto bg-black'>
    <!-- <Navigation /> -->
    <slot />
    <Footer />
  </body>
</html>
