<footer class='bg-accent-500 border-b border-white'>
  <div class='mx-auto max-w-7xl border-x border-white'>
    <div class='mx-auto w-full items-start justify-between p-8'>
      <div class='mx-auto items-center text-center text-white'>
        <p class='font-display text-2xl uppercase'>ASTROMAX</p>
        <p class='mx-auto mt-3 text-sm'>
          Designed and built in the Åland Islands by <a
            class='underline'
            href='https://x.com/Mike_Andreuzza'>Michael Andreuzza</a
          >.
        </p>
      </div>
    </div>
    <div class='mx-auto flex flex-col border-t border-white p-8'>
      <p class='text-center font-display text-sm text-white'>
        See more templates on <a href='https://www.lexingtonthemes.com'>
          Lexington Themes &nbsp; &rarr;</a
        >
      </p>
    </div>
  </div>
</footer>
