<section
  class='mx-auto w-full justify-center border-b border-t border-white bg-black lg:fixed lg:z-50 2xl:max-w-7xl'
>
  <div class='mx-auto w-full justify-center bg-black'>
    <div
      class='mx-auto flex w-full max-w-7xl flex-col border-x border-white lg:flex-row lg:items-center lg:justify-between'
    >
      <div
        class='flex w-full flex-col items-center justify-between text-center text-white sm:flex-row sm:px-8 md:px-0'
      >
        <a
          href='https://www.lexingtonthemes.com'
          class='inline-flex items-center py-4 font-display text-xs uppercase text-white md:px-8 md:text-center'
          ><span>ASTROMAX ⏤ By Lexington Themes &nbsp; &rarr;</span>
        </a>
        <a
          href='https://github.com/michael-andreuzza/astromax'
          class='w-full bg-white px-6 py-4 text-center font-display text-xs uppercase text-black duration-200 hover:bg-black hover:text-white sm:rounded-full lg:ml-auto lg:w-auto'
          >Github</a
        ><a
          href='mailto:your@name.com'
          class='hover:bg-blacktext-white w-full bg-carrot px-6 py-4 text-center font-display text-xs uppercase text-black duration-200 hover:text-white sm:rounded-full lg:w-auto'
          >Get a quote</a
        >
      </div>
    </div>
  </div>
</section>
